/* Universal Selector Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Universal Selector End*/

:root{
--primary-color: #1149E0;
--background-color: #000000;
}

/* Start Body */
body {
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c5d4d4;
    
}  

/* Start Header */
header {
    padding: 20px 35px;
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    background-image: url("../images/headerbackground.jpg");
    background-size: 250px 150px;
    background-position: center;
    background-repeat: no-repeat;
}

header h1 {
    color: var(--primary-color);
    text-decoration: underline;
    margin: 0;
    
    
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
  }

header nav ul li a {
    padding: 0px 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: var(--primary-color);
}

nav ul li a:hover{
    color: var(--background-color);
    border-radius: 10%;
    background-color: #E80A0A;
}
/* End Header */

/* Start Hero Section */

.hero {
    padding: 20px 35px;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
    
}

.hero img {
    width: 50%;
}

#avatar {
    border-radius: 100px;
}
/* End Hero Section*/


/* Start About Section */
.about-me {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    margin-top: 20px;
    margin: 20px 20px 20px 100px;
    max-width: 1242px;
}

.about-me h2 {
    border-right: 5px solid var(--primary-color);
    padding-right: 20px;
}

.about-info {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}
/*End About Me Section*/

/*Start My Work Section*/
.my-work {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    margin: 20px 20px 20px 100px;
    
    
    
}

.my-work h2 {
    border-right: 5px solid var(--primary-color);
    padding-right: 29px;
    
    
    
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    max-width: 1031px;
}

.flex-pictures {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
}




.comming-soon {
    border: 5px solid var(--primary-color);
    width: 100%;
}

.run-buddy {
    max-width: 49%;
    border: 5px solid var(--primary-color);
   
    
}

.horiseon {
    max-width: 49%;
    border: 5px solid var(--primary-color);
}

a img:hover{
    opacity: .6;
  }
/* End My Work Section */



/* Start Footer Section*/
footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    margin-top: 20px;
    margin: 10px 30px 50px 80px;
}

footer h2 {
    border-right: 5px solid var(--primary-color);
    padding-right: 20px;
    
}

footer div {
    margin: 7px 0;
}

footer div ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

footer div ul a{
    padding: 0px 45px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: var(--primary-color);
    text-decoration: underline;

}
/* End footer Section*/

/*Start Media Query*/


