/* Universal Selector Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Universal Selector End*/

/* Start Body */
body {
    color: #1149E0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c5d4d4;
    
}  

/* Start Header */
header {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    background-image: url("../images/headerbackground.jpg");
    background-size: 250px 150px;
    background-position: center;
    background-repeat: no-repeat;
}

header h1 {
    color: #1149E0;
    text-decoration: underline;
    margin: 0;
    
    
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
  }

header nav ul li a {
    padding: 0px 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: #1149E0;
    
  }
/* End Header */

/* Start Hero Section */

.hero {
    padding: 20px 35px;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
}

/* Start About Section */
.about-me {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    margin-top: 20px;
    margin: 20px 20px 20px 100px;
    max-width: 1242px;
}

.about-me h2 {
    border-right: 5px solid #1149E0;
    padding-right: 20px;
}

.about-info {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}





.my-work {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    margin: 20px 20px 20px 100px;
    
    
    
}

.my-work h2 {
    border-right: 5px solid #1149E0;
    padding-right: 29px;
    justify-content: space-between;
    
    
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    max-width: 1031px;
   
    
}

.comming-soon {
    border: 3px solid #1149E0;
    width: 75%;
    

}

.run-buddy {
    max-width: 38%;
    max-height: 100%;
    border: 3px solid #1149E0;
    
}

.horiseon {
    max-width: 35%;
    border: 3px solid #1149E0;
    max-height: 100%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    margin-top: 20px;
    margin: 10px 30px 50px 80px;
}

footer h2 {
    border-right: 5px solid #1149E0;
    padding-right: 20px;
    
}

footer div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}